/* css reset start */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* css reset end */

html {
  background-color: hsla(197, 100%, 89%, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 5rem 10rem hsla(0, 0%, 0%, 0.726),
inset 0 0 5rem 0rem black;
  border: 50px solid hsla(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/scanlines.png) repeat;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 70%;

  img {
    margin: 10px;
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  /* width: 80%; */
  gap: 10px;
  font-size: 2rem;
  font-weight: 600;
  background-color:  hsla(0, 0%, 0%, 0.1);
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 15px;
  padding-block: 1rem;
}

progress {
  display: flex;
  width: 80%;
}

progress[value] {
  background-color: #eee;
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
}

progress[value]::-webkit-progress-bar {
  background-color: red;
}

.bottom-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: none;
  justify-content: space-evenly;
  font-size: 1rem;
}

.clicky {
  padding-top: 1rem;
  width: 20%;
  color: white;
  height: 100%;
  text-align: center;
  background-color: hsla(180, 4%, 15%, 0.872);
  border-radius: 25px;


  h2 {
    position: relative;
    top: -30px;
    background-color: black;
    width: 80%;
    margin: auto;
    padding-inline: 20px;
    border-radius: 25px;
    cursor: pointer;
    color: aqua;

    &:hover {
        animation: hue-rotate 5s linear infinite both -0.5s;
    }
  }
}

#point_total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 800;
}

#upgrade {
    cursor: pointer;
}

#cookie-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: brown;
  height: 75px;
  color: white;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: wheat;
    width: 200px;
  }
}

.angry {
  animation: angry 0.2s linear infinite both -0.5s;
  color: red;
}

.happy {
  animation: happy 2s linear infinite both -0.5s;
  color: green;
}

.sad {
  animation: sad 4s linear forwards -0.5s;
  color: blue;
}

.hungry {
  animation: hungry 5s forwards;
  color: orange;
}

.hue-rotate {
    animation: hue-rotate 5s linear infinite both -0.5s;
  }

@keyframes angry {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes happy {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes hungry {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(160%);
  }
  100% {
    transform: scale(250%);
  }
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
