/* css reset start */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* css reset end */

html {
  background-color: hsla(197, 100%, 89%, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 5rem 0rem black;
  border: 50px solid hsla(0, 0, 0, 0.25);
  border-radius: 25px;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/scanlines.png) repeat;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 80%;
  gap: 10px;
  font-size: 2rem;
}

progress {
  display: flex;
  width: 80%;
}

progress[value] {
  background-color: #eee;
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
}

progress[value]::-webkit-progress-bar {
  background-color: red;
}

.bottom-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: none;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.clicky {
    padding-top: 1rem;
  background-color: black;
  color: white;
  width: 20%;
  height: 100%;
  text-align: center;
}

#cookie-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  bottom: 0px;
  width: 50%;
  background-color: brown;
  height: 100px;
  color: white;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: wheat;
    width: 200px;
  }
}

.float-vertical {
    animation: float-vertical 3s linear infinite both -0.5s;
}

.float-horizontal {
    animation: float-horizontal 3s linear infinite both -0.5s;
}

@keyframes float-vertical {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-horizontal {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }
  